// Custom.scss
// Option A: Include all of Bootstrap

$accordion-button-icon: url(/assets/images/icon-plus.svg);
$accordion-button-active-icon: url(/assets/images/icon-minus.svg);
$primary: hsl(275, 100%, 97%);

@import "../node_modules/bootstrap/scss/bootstrap";